<%= render 'shared/list_banner'%>
<div class="container m-auto my-5">
  <% @list.event_lists.each do |eventfinder| %>
    <%if eventfinder.event%>
      <div class="py-3">
        <div class="card-trip w-480 m-auto">
          <h2 class="card-trip-pricing">
            <% if eventfinder.event.price =~ /free/i || eventfinder.event.price !~ /\d/ %>
              Free
            <% else %>
              $<%= eventfinder.event.price %>
            <% end %>
          </h2>
          <div class="card-trip-infos">
            <div class="card-trip-header">
              <%= link_to eventfinder.event.name, event_path(eventfinder.event), class: "text-decoration-none text-dark"%>
            </div>
            <div class="pt-3">
              <div class="event-dates d-flex flex-row gap-2">
                <div>
                  <i class="primary fa-regular fa-calendar"></i>
                </div>
                <div>
                  <span><%= eventfinder.event.start_date.strftime('%d %B') %></span>
                  <% if eventfinder.event.end_date %>
                    <span> - <%= eventfinder.event.end_date.strftime('%d %B') %></span>
                  <% end %>
                </div>
                <div>
                  <%= link_to event_event_list_path(eventfinder.event), data: { turbo_method: :delete, turbo_confirm: "Delete this event ?" } do %>
                    <i class="fa-solid fa-trash-can card-list-event-delete" style="color: #FF914D;"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless @list.event_lists.any? %>
      <h1>Sorry, no events found.</h1>
    <% end %>
  <% end %>
</div>
