<div class="container" data-controller="messages-subscription" data-messages-subscription-user-id-value="<%= current_user.id %>">
  <h1> <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %> <%= @recipient.name %></h1>
    <ul class="message-list" data-messages-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </ul>

  <%= form_with url: "messages", method: :post do |form| %>
    <%= form.text_area :content, size: "70x5" %>
    <%= form.submit "Send Message" %>
  <% end %>

</div>
