<% if @user == current_user %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="following-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <% if @user == current_user %>
        <div class="d-flex flex-column justify-content-between">
          <%= link_to "Create a post", '#', data: { bs_toggle: "modal", bs_target: "#eventPostModal" }, class: "btn-flat-comment" %>
          <br>
          <%= render 'modal_comment' %>
        <% end %>
        <br>
        <% @comments_and_event_lists_ordered.each do |comment| %>
          <% if comment.is_a? Comment %>
            <%= render 'shared/comment', comment: comment %>
          <% else %>
            <div class="event-add-message">
              <%= "#{comment.list.user.name} has added #{comment.event.name} to their list." %>
            </div>
          <% end %>
        <% end %>
        <%# <%= pagy_nav(@pagy) %>
      </div>
    </div>
  </div>
<% end %>
