<div class="modal fade" id="userEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userEditModalLabel" style="color: black">Spruce Up Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
          <%= f.input :my_photo, as: :file, label: false  %>
          <%# f.input :status,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: User::STATUS %>
          <%= f.collection_radio_buttons(:status, [["solo adventurer", "solo adventurer"], ["social butterfly", "social butterfly"]], :first, :last, include_hidden: false, :checked => ["solo adventurer"], collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'} ) do |input| %>
            <%= input.radio_button %>
            <%= input.label do |l| %>
              <% if input.value == "solo adventurer" %>
                <i class="fa-solid fa-person"></i>
                <p>solo adventurer</p>
              <% else %>
                <i class="fa-solid fa-people-group"></i>
                <p>social butterfly</p>
              <% end %>
            <% end %>
          <% end %>
          <%= f.button :submit, "Update", class: 'btn-user-edit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
