<div class="category-filters">
  <%= form_with(url: events_path, method: "get") do |f| %>
    <%= f.button "Food", class: "btn-flat-category", name: "category", value: "Food" %>
    <%= f.button "Art", class: "btn-flat-category", name: "category", value: "Art" %>
    <%= f.button "Illumination", class: "btn-flat-category", name: "category", value: "Illumination" %>
    <%= f.button "Nature", class: "btn-flat-category", name: "category", value: "Nature" %>
    <%= f.button "Beer", class: "btn-flat-category", name: "category", value: "Beer" %>
    <%= f.button "Drinks", class: "btn-flat-category", name: "category", value: "Drinks" %>
    <%= f.button "Talk", class: "btn-flat-category", name: "category", value: "Talk" %>
    <%= f.button "Parade", class: "btn-flat-category", name: "category", value: "Parade" %>
    <%= f.button "Comedy", class: "btn-flat-category", name: "category", value: "Comedy" %>
    <%= f.button "Music", class: "btn-flat-category", name: "category", value: "music" %>
    <%= f.button "Market", class: "btn-flat-category", name: "category", value: "Market" %>
    <%= f.button "Festival", class: "btn-flat-category", name: "category", value: "Festival" %>
    <%= f.button "Fireworks", class: "btn-flat-category", name: "category", value: "Fireworks" %>
  <% end %>
</div>
