<div class="card-comment">
  <div class="card-comment-infos">
    <div class="gap">
      <% random_image_url = "https://source.unsplash.com/random/?profile-picture&t=#{Time.now.to_i}&comment_#{comment.user.id}_#{comment.user.name}" %>
      <% if comment.user && comment.user.my_photo.attached? %>
        <%= cl_image_tag(comment.user.my_photo.key, class:"card-trip-user avatar-bordered") %>
      <% else %>
        <%= image_tag random_image_url, alt: "Le Wagon", class: "card-trip-user avatar-bordered" %>
      <% end %>
      <% if comment.user == current_user %>
        <%= link_to comment_path(comment), data: { comment_id: comment.id, turbo_method: :delete, turbo_confirm: "Delete this comment ?" } do %>
          <i class="fa-solid fa-trash-can" style="color: #FF914D;"></i>
        <% end %>
      <% end %>
    </div>
    <div>
      <div class="header d-flex">
        <h2 class="mr-5"><%= comment.user.name %></h2>
        <p class="timestamp"><%= comment.created_at.strftime('%-m/%-d/%y') %></p>
        <% if current_user %>
          <%= form_for(comment, url: vote_comment_path(comment), method: :post, remote: true, class: 'vote-form') do |f| %>
            <%= f.hidden_field :vote_type, value: "upvote" %>
            <button type="submit" class="upvote-button upvotes">
              <% if current_user.voted_for?(comment) %>
                <i class="fa-solid fa-thumbs-up fa-flip-horizontal" style="color: #ffffff"></i>
              <% else %>
                <i class="fa-regular fa-thumbs-up fa-flip-horizontal" style="color: #ffffff"></i>
              <% end %>
              <%= comment.votes_for.size %>
            </button>
          <% end %>
        <% else %>
          <div class="upvotes btn">
            <i class="fa-regular fa-thumbs-up fa-flip-horizontal"></i>
            <%= comment.votes_for.size %>
          </div>
        <% end %>
      </div>
      <small class="comment-link">
        <%= link_to event_path(comment.event), class: 'text-decoration-none' do %>
          <%= truncate(comment.event.name, length: 30, separator: ' ') %>
          <i class="fa-solid fa-link ml-2" style="color: #ff914e;"></i>
        <% end %>
      </small>
      <p><%= comment.comment %></p>
    </div>
  </div>
  <% photo = comment.photos.first %>
  <%= cl_image_tag(photo.key) if photo.present? %>
</div>
<script>
  $(document).on("ajax:success", ".vote-form", function(event, data, status, xhr) {
    var $form = $(this);
    var $upvoteButton = $form.find(".upvote-button");
    var $upvoteCount = $form.find(".upvote-count");

    // Update vote count
    $upvoteCount.text(data.votes_count);

    // Toggle upvote icon
    if (data.voted_for) {
      $upvoteButton.find("i").removeClass("fa-regular").addClass("fa-solid");
    } else {
      $upvoteButton.find("i").removeClass("fa-solid").addClass("fa-regular");
    }
  });
</script>
