<% @past_events.each do |past_event| %>
  <div class="py-3">
    <div class="card-trip m-auto " style="width: 18rem">
      <h2 class="card-trip-pricing">
        <% if past_event.price =~ /free/i || past_event.price !~ /\d/ %>
          Free
        <% elsif past_event.price.length > 6 %>
          <%= truncate(past_event.price, length: 10, omission: '...') %>
        <% else %>
          <%= past_event.price %>
        <% end %>
      </h2>
      <div class="card-trip-infos">
        <div class="card-trip-header">
          <h2><%= truncate(past_event.name, length: 15, omission: '...') %></h2>
        </div>
        <div class="pt-3">
          <div class="event-dates d-flex flex-row gap-2">
            <div>
              <i class="primary fa-regular fa-calendar"></i>
            </div>
            <div>
              <span><%= past_event.start_date.strftime('%d %B') %></span>
              <% if past_event.end_date && past_event.end_date.to_date !=  past_event.start_date.to_date %>
                <span> - <%= past_event.end_date.strftime('%d %B') %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "", event_path(past_event), class: 'card-link' %>
    </div>
  </div>
<% end %>
