<%= render 'shared/banner' %>
<div class="container_events mt-3">
  <%= render 'shared/category_filters' %>
  <div class="row custom-row-padding">
    <div class="subheader-container">
      <h2 class="subheader-card-packs">Search results</h2>
      <div class="sort-links">
        <%= link_to "Sort by Date", events_path(order: "date") %>
        <%= link_to "Sort by Popularity", events_path(order: "popularity")  %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="cards_index_page">
        <%if @events.any?%>
          <% @events.all.each do |event| %>
            <div class="card-trip-index">
              <div class="justify-between">
                <div class="card-trip-users">
                  <i class="fa-solid fa-users" style="color: #ffffff;"></i>
                  <span class="user-count ml-5">
                    <% attending_count = event.event_lists.count %>
                    <%= attending_count %>
                  </span>
                </div>
                <h2 class="card-trip-pricing text-white">
                  <% if event.start_date == event.end_date %>
                    <span><%= event.start_date.strftime('%e %b') %></span>
                  <% else %>
                    <% if event.start_date.month == event.end_date.month %>
                      <span><%= event.start_date.strftime('%e') %></span>
                    <% else %>
                      <span><%= event.start_date.strftime('%e %b') %></span>
                    <% end %>
                    -
                    <span><%= event.end_date.strftime('%e %b') %></span>
                  <% end %>
                </h2>
              </div>
              <%= image_tag event.img_url %>
              <div class="card-trip-infos">
                <div class="d-flex justify-between mt-1 mb-2 px-2">
                  <p><i class="fa-solid fa-location-dot" style="color: #ff914d;"></i>: <%=event.location %></p>
                  <% if event.price =~ /free/i || event.price !~ /\d/ %>
                    <strong>
                      <p> <i class="fa-solid fa-yen-sign" style="color: #fd904c;"></i>: Free</p>
                    </strong>
                  <% else %>
                    <p>
                      <% prices = event.price.scan(/\d[\d.,]*/).map { |num| "#{num}" } %>
                      <% formatted_price = prices.size > 1 ? "#{prices.first} ~ #{prices.last}" : prices.first %>
                      <i class="fa-solid fa-yen-sign" style="color: #fd904c;"></i>: <%= formatted_price %>
                    </p>
                  <% end %>
                </div>
                <div class="card-trip-header mb-4 d-flex justify-content-center">
                  <strong>
                    <h2><%= event.name %></h2>
                  </strong>
                </div>
              </div>
              <%= link_to "", event_path(event), class: 'card-link' %>
            </div>
          <% end %>
        <% else %>
          <em>Sorry, no events found.</em>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <%= render 'shared/map', markers: @markers%>
    </div>
  </div>
</div>
