<%= render 'shared/banner' %>
<div class="container_events mt-3">
  <%= render 'shared/category_filters' %>
  <div class="row custom-row-padding">
    <h2 class="subheader-card-packs">Search results</h2>
    <div class="col-md-6">
      <div class="cards_index_page">
        <%if @events.any?%>
          <% @events.all.each do |event| %>
            <div class="card-trip-index">
              <h2 class="card-trip-index-pricing">
                <% if event.start_date == event.end_date %>
                  <span><%= event.start_date.strftime('%e %b') %></span>
                <% else %>
                  <span><%= event.start_date.strftime('%e') %></span>
                  <% if event.end_date %>
                    <% if event.start_date.month == event.end_date.month && event.start_date.day == event.end_date.day %>
                      <span><%= event.start_date.strftime('%b') %></span>
                    <% else %>
                      <span>- <%= event.end_date.strftime('%e %b') %></span>
                    <% end %>
                  <% end %>
                <% end %>
              </h2>
              <%= image_tag event.img_url %>
              <div class="card-trip-index-infos">
                <div class="card-trip-index-header">
                  <h2><%= event.name %></h2>
                  <div class="d-flex">
                    <% if event.price && event.price.match?(/\A\d+(\.\d{1,2})?\z/) %>
                      $<%= event.price %>
                    <% elsif event.price =~ /free/i %>
                      Free
                    <% end %>
                  </div>
                </div>
              </div>
              <%= link_to "", event_path(event), class: 'card-link' %>
            </div>
          <% end %>
        <% else %>
          <em>Sorry, no events found.</em>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <%= render 'shared/map', markers: @markers%>
    </div>
  </div>
</div>
