<div class="banner" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.studyabroad.wisc.edu/wp-content/uploads/sites/529/2012/11/summer.jpg); height: 300px;">
  <div>Menu Button Here</div>
  <%= render "shared/add_to_calendar", event: @event%>
  <h1 style="text-align:center"><%= @event.name %></h1>
  <div class="ticket-lnk">
    <div ticket price>Ticket Price: <%=@event.price%>
    </div>
    <div>
      <%= link_to events_path, class: "btn btn-danger btn-fill" do %>Click Here
      <% end %>
    </div>
  </div>
  <div class="location-marker">
    <div>
      <h2><%= @event.location %></h2>
    </div>
    <div>&nbsp&nbsp-&nbsp 15 minutes</div>
  </div>
</div>
<div class="container col-4" style="margin-top: 64px;">
  <div class="icons">
    <%= render 'shared/icons' %>
  </div>
  <div class="event-summary">
    <h3>Event Summary</h3>
    <p><%=@event.description%></p>
  </div>
  <div class="attendance">
    <div>
      <div>
        <i class="fa-solid fa-user"></i>
        <%= pluralize(@event.event_lists.count, "user") %> <%= users_verb(@event.event_lists.count) %> attending
      </div>
      <%= link_to events_path, class: "btn btn-secondary btn-sm btn-fill" do %>
        See who else is going
      <% end %>
      <% @event.lists.flat_map(&:user).each do |x|%>
        <li><%= x.name %></li>
      <%end%>
    </div>
  </div>
  <div class="similar-events">
    <h3>Similar Events</h3>
  </div>
  THE ABOVE IS A CAROUSEL
  <div>
    <h3>Map</h3>
    <%= render 'shared/map', markers: @markers%>
  </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    +
  </button>
  <%= render 'modal' %>
</div>
