<%= render 'shared/banner' %>
<div class="container">
  <h2 class="subheader-card-packs">popular events</h2>
  <p class="explanation-text-card-packs">The most popular events amongst other users</p>
  <div class="cards">
    <% @top_events.each do |event| %>
      <div class="card-trip">
        <div class="card-trip-users">
          <i class="fa-solid fa-users" style="color: #ffffff;"></i>
          <span class="user-count ml-5 text-white">
            <% attending_count = event.event_lists.count %>
            <%= attending_count %>
          </span>
        </div>
        <h2 class="card-trip-pricing text-white">
          <% if event.start_date == event.end_date %>
            <span><%= event.start_date.strftime('%e %b') %></span>
          <% else %>
            <span><%= event.start_date.strftime('%e') %></span>
            <% if event.end_date %>
              <% if event.start_date.month == event.end_date.month && event.start_date.day == event.end_date.day %>
                <span><%= event.start_date.strftime('%b') %></span>
              <% else %>
                <span>- <%= event.end_date.strftime('%e %b') %></span>
              <% end %>
            <% end %>
          <% end %>
        </h2>
        <%= image_tag event.img_url %>
        <div class="card-trip-infos">
          <div class="d-flex justify-between mt-1 mb-2 px-2">
            <p><i class="fa-solid fa-location-dot" style="color: #ff914d;"></i>: <%=event.location %></p>
            <% if event.price =~ /free/i || event.price !~ /\d/ %>
              <strong>
                <p> <i class="fa-solid fa-yen-sign" style="color: #fd904c;"></i>: Free</p>
              </strong>
            <% else %>
              <p>
                <% prices = event.price.scan(/\d[\d.,]*/).map { |num| "#{num}" } %>
                <% formatted_price = prices.size > 1 ? "#{prices.first} ~ #{prices.last}" : prices.first %>
                <i class="fa-solid fa-yen-sign" style="color: #fd904c;"></i>: <%= formatted_price %>
              </p>
            <% end %>
          </div>
          <div class="card-trip-header">
            <strong>
              <h2><%= event.name %></h2>
            </strong>
          </div>
          <p><%= truncate(event.description, length: 200) %></p>
        </div>
        <%= link_to "", event_path(event), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>
